.separation {
  min-height: 150px;
  margin-top: 120px;
  margin-bottom: 80px;
  position: relative;
}

.line1 {
  height: 30px;
  background-color: #04AA6D;
  width: 22%;
  position: absolute;
  top: 0px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 1px #04aa6d8f;
  z-index: 1;
  opacity: 1;
}

.line11 {
  height: 30px;
  background-color: #04AA6D;
  width: 32%;
  position: absolute;
  top: 0px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 1px #04aa6d8f;
  opacity: 1;
}

.line2 {
  height: 30px;
  background-color: #04AA6D;
  width: 15%;
  position: absolute;
  top: 40px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 1px #04aa6d8f;
  z-index: 1;
  opacity: 1;
}

.line21 {
  height: 30px;
  background-color: #04AA6D;
  width: 25%;
  position: absolute;
  top: 40px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 1px #04aa6d8f;
  opacity: 1;
}

.line3 {
  height: 30px;
  background-color: #04AA6D;
  width: 42%;
  position: absolute;
  top: 80px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 1px #04aa6d8f;
  z-index: 1;
  opacity: 1;
}

.line31 {
  height: 30px;
  background-color: #04AA6D;
  width: 12%;
  position: absolute;
  top: 80px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 1px #04aa6d8f;
  opacity: 1;
}

.line4 {
  height: 30px;
  background-color: #04AA6D;
  width: 10%;
  position: absolute;
  top: 120px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 1px #04aa6d8f;
  z-index: 1;
  opacity: 1;
}

.line41 {
  height: 30px;
  background-color: #04AA6D;
  width: 30%;
  position: absolute;
  top: 120px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 1px #04aa6d8f;
  z-index: 1;
  opacity: 1;
}
