.separation {
  min-height: 50px;
  margin-top: 150px;
  margin-bottom: 100px;
  position: relative;
}

.line1 {
  height: 10px;
  width: 22%;
  position: absolute;
  top: 0px;
  border-radius: 8px;
  z-index: 1;
}

.line11 {
  height: 10px;
  width: 32%;
  position: absolute;
  top: 0px;
  border-radius: 8px;
}

.line2 {
  height: 10px;
  width: 15%;
  position: absolute;
  top: 15px;
  border-radius: 8px;
  z-index: 1;
}

.line21 {
  height: 10px;
  width: 25%;
  position: absolute;
  top: 15px;
  border-radius: 8px;
}

.line3 {
  height: 10px;
  width: 42%;
  position: absolute;
  top: 30px;
  border-radius: 8px;
  z-index: 1;
}

.line31 {
  height: 10px;
  width: 12%;
  position: absolute;
  top: 30px;
  border-radius: 8px;
}

.line4 {
  height: 10px;
  width: 10%;
  position: absolute;
  top: 45px;
  border-radius: 8px;
  z-index: 1;
}

.line41 {
  height: 10px;
  width: 30%;
  position: absolute;
  top: 45px;
  border-radius: 8px;
  z-index: 1;
}
