.separation {
  min-height: 150px;
  /* background-color: aquamarine; */
  margin-top: 120px;
  margin-bottom: 80px;
  position: relative;
}

.line1 {
  height: 30px;
  background-color: #04AA6D;
  width: 15%;
  position: absolute;
  top: 0px;
  border-radius: 8px;
}

.line2 {
  height: 30px;
  background-color: #04AA6D;
  width: 15%;
  position: absolute;
  top: 40px;
  border-radius: 8px;
}

.line3 {
  height: 30px;
  background-color: #04AA6D;
  width: 15%;
  position: absolute;
  top: 80px;
  border-radius: 8px;
}

.line4 {
  height: 30px;
  background-color: #04AA6D;
  width: 15%;
  position: absolute;
  top: 120px;
  border-radius: 8px;
}
